@import "./reset"; // Importing partials is another reason to use scss
@import "./variables";
// Should be used to return/provide a value, but not property itself.
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
// Should be used to define styles (properties + values)
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
body {
  background: $primary-color;
  color: $text-color;
}
.main {
  // Nesting feature is the best reason to use scss.
  @include flexCenter(row); // Use @include to include a @mixin
  width: 80% - 40%; // calc(80% - 400px); rarely used.
  margin: 0 auto;
  #{&}-paragraph1 {
    font-weight: weight(bold); // You can call function directly as a value.
    &:hover {
      color: pink;
    }
  }
  #{&}-paragraph2 {
    @extend .main-paragraph1; // Use paragraph1 as a base style using @extend
    &:hover {
      color: $accent-color;
    }
  }
  @include mobile {
    flex-direction: column; // This becomes @content
  }
}
.light {
  @include theme($light-theme: true);
}
// There is also @if..@else conditionals if logic is needed.
